<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxin.cb.mall.dao.BrandDao">

<resultMap type="Brand" id="Brand">
	<id column="brand_id" property="brandId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="brand_en_name" property="brandEnName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="brand_key" property="brandKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="brand_name" property="brandName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="brand_no" property="brandNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="brand_title" property="brandTitle" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="display" property="display" javaType="java.lang.Boolean" jdbcType="BIT"/>
	<result column="enabled" property="enabled" javaType="java.lang.Boolean" jdbcType="BIT"/>
	<result column="hot" property="hot" javaType="java.lang.Boolean" jdbcType="BIT"/>
	<result column="pic_path" property="picPath" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="seo_description" property="seoDescription" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="seo_key" property="seoKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="seo_title" property="seoTitle" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="website" property="website" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="category_id" property="categoryId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="sort" property="sort" javaType="java.lang.Integer" jdbcType="INTEGER"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
brand_id,brand_en_name,brand_key,brand_name,brand_no,brand_title,create_time,
description,display,enabled,hot,pic_path,remark,
seo_description,seo_key,seo_title,website,category_id,sort

</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
brand_id,brand_en_name,brand_key,brand_name,brand_no,brand_title,create_time,
display,enabled,hot,category_id,sort

</sql>

<insert id="add" parameterType="Brand" useGeneratedKeys="true" keyProperty="brandId">
	insert into BRAND(
		<if test="brandId!=null">
		brand_id,
		</if>
		brand_en_name,
		brand_key,
		brand_name,
		brand_no,
		brand_title,
		create_time,
		description,
		display,
		enabled,
		hot,
		pic_path,
		remark,
		seo_description,
		seo_key,
		seo_title,
		website,
		category_id,
		sort
	) values (
		<if test="brandId!=null">
		#{brandId,jdbcType = INTEGER},
		</if>
		#{brandEnName,jdbcType = VARCHAR},
		#{brandKey,jdbcType = VARCHAR},
		#{brandName,jdbcType = VARCHAR},
		#{brandNo,jdbcType = VARCHAR},
		#{brandTitle,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{description,jdbcType = VARCHAR},
		#{display,jdbcType = BIT},
		#{enabled,jdbcType = BIT},
		#{hot,jdbcType = BIT},
		#{picPath,jdbcType = VARCHAR},
		#{remark,jdbcType = VARCHAR},
		#{seoDescription,jdbcType = VARCHAR},
		#{seoKey,jdbcType = VARCHAR},
		#{seoTitle,jdbcType = VARCHAR},
		#{website,jdbcType = VARCHAR},
		#{categoryId,jdbcType = INTEGER},
		#{sort,jdbcType = INTEGER}
	)
</insert>

<update id="update" parameterType="Brand">
	update BRAND 
	<set>
		<if test="brandEnName!=null and brandEnName!=''">
			brand_en_name=#{brandEnName,jdbcType = VARCHAR},
		</if>
		<if test="brandKey!=null and brandKey!=''">
			brand_key=#{brandKey,jdbcType = VARCHAR},
		</if>
		<if test="brandName!=null and brandName!=''">
			brand_name=#{brandName,jdbcType = VARCHAR},
		</if>
		<if test="brandNo!=null and brandNo!=''">
			brand_no=#{brandNo,jdbcType = VARCHAR},
		</if>
		<if test="brandTitle!=null and brandTitle!=''">
			brand_title=#{brandTitle,jdbcType = VARCHAR},
		</if>
		<if test="createTime!=null ">
			create_time=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="description!=null and description!=''">
			description=#{description,jdbcType = VARCHAR},
		</if>
		<if test="display!=null ">
			display=#{display,jdbcType = BIT},
		</if>
		<if test="enabled!=null ">
			enabled=#{enabled,jdbcType = BIT},
		</if>
		<if test="hot!=null ">
			hot=#{hot,jdbcType = BIT},
		</if>
		<if test="picPath!=null and picPath!=''">
			pic_path=#{picPath,jdbcType = VARCHAR},
		</if>
		<if test="remark!=null and remark!=''">
			remark=#{remark,jdbcType = VARCHAR},
		</if>
		<if test="seoDescription!=null and seoDescription!=''">
			seo_description=#{seoDescription,jdbcType = VARCHAR},
		</if>
		<if test="seoKey!=null and seoKey!=''">
			seo_key=#{seoKey,jdbcType = VARCHAR},
		</if>
		<if test="seoTitle!=null and seoTitle!=''">
			seo_title=#{seoTitle,jdbcType = VARCHAR},
		</if>
		<if test="website!=null and website!=''">
			website=#{website,jdbcType = VARCHAR},
		</if>
		<if test="categoryId!=null ">
			category_id=#{categoryId,jdbcType = INTEGER},
		</if>
		<if test="sort!=null ">
			sort=#{sort,jdbcType = INTEGER},
		</if>
	</set>
	<where>
		AND brand_id=#{brandId}
	</where>
</update>

<delete id="delete">
	delete from BRAND 
	<where>
		brand_id=#{0}
	</where>
</delete>

<select id="get" resultMap="Brand">
	select <include refid="AllColumnlist"/> from BRAND
	<where>
		brand_id=#{0}
	</where>
</select>

<select id="getByIds" resultMap="Brand">
	select <include refid="AllColumnlist"/> from BRAND
	<where>
		brand_id in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(brand_id) from BRAND 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="Brand">
	select <include refid="CommonColumnlist"/> from BRAND 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="Brand">
	select <include refid="CommonColumnlist"/> from BRAND
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="data!=null">
		<if test="data.brandId!=null ">
			AND brand_id=#{data.brandId}
		</if>
		<if test="data.brandEnName!=null and data.brandEnName!=''">
			AND brand_en_name=#{data.brandEnName}
		</if>
		<if test="data.brandKey!=null and data.brandKey!=''">
			AND brand_key=#{data.brandKey}
		</if>
		<if test="data.brandName!=null and data.brandName!=''">
			AND brand_name=#{data.brandName}
		</if>
		<if test="data.brandNo!=null and data.brandNo!=''">
			AND brand_no=#{data.brandNo}
		</if>
		<if test="data.brandTitle!=null and data.brandTitle!=''">
			AND brand_title=#{data.brandTitle}
		</if>
		<if test="data.createTime!=null ">
			AND create_time=#{data.createTime}
		</if>
		<if test="data.createTimeStart!=null">
		<![CDATA[	AND create_time>=#{data.createTimeStart}  ]]>
		</if>
		<if test="data.createTimeEnd!=null">
		<![CDATA[	AND create_time<#{data.createTimeEnd}   ]]>
		</if>
		<if test="data.description!=null and data.description!=''">
			AND description=#{data.description}
		</if>
		<if test="data.display!=null ">
			AND display=#{data.display}
		</if>
		<if test="data.enabled!=null ">
			AND enabled=#{data.enabled}
		</if>
		<if test="data.hot!=null ">
			AND hot=#{data.hot}
		</if>
		<if test="data.picPath!=null and data.picPath!=''">
			AND pic_path=#{data.picPath}
		</if>
		<if test="data.remark!=null and data.remark!=''">
			AND remark=#{data.remark}
		</if>
		<if test="data.seoDescription!=null and data.seoDescription!=''">
			AND seo_description=#{data.seoDescription}
		</if>
		<if test="data.seoKey!=null and data.seoKey!=''">
			AND seo_key=#{data.seoKey}
		</if>
		<if test="data.seoTitle!=null and data.seoTitle!=''">
			AND seo_title=#{data.seoTitle}
		</if>
		<if test="data.website!=null and data.website!=''">
			AND website=#{data.website}
		</if>
		<if test="data.categoryId!=null ">
			AND category_id=#{data.categoryId}
		</if>
		<if test="data.sort!=null ">
			AND sort=#{data.sort}
		</if>
	</if>
</sql>

</mapper>