<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxin.cb.mall.dao.CarBrandDao">

<resultMap type="CarBrand" id="CarBrand">
	<id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="brand_name" property="brandName" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="brand_en_name" property="brandEnName" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="initial" property="initial" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="brand_no" property="brandNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="catalog_id" property="catalogId" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="is_display" property="isDisplay" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="is_hot" property="isHot" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="operate_id" property="operateId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="default_pic" property="defaultPic" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
id,brand_name,brand_en_name,initial,brand_no,catalog_id,is_display,
is_hot,remark,create_time,update_time,operate_id,default_pic

</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
id,brand_name,brand_en_name,initial,brand_no,catalog_id,is_display,
is_hot,remark,create_time,update_time,operate_id,default_pic

</sql>

<insert id="add" parameterType="CarBrand" useGeneratedKeys="true" keyProperty="id">
	insert into CAR_BRAND(
		<if test="id!=null">
		id,
		</if>
		brand_name,
		brand_en_name,
		initial,
		brand_no,
		catalog_id,
		is_display,
		is_hot,
		remark,
		create_time,
		update_time,
		operate_id,
		default_pic
	) values (
		<if test="id!=null">
		#{id,jdbcType = INTEGER},
		</if>
		#{brandName,jdbcType = VARCHAR},
		#{brandEnName,jdbcType = VARCHAR},
		#{initial,jdbcType = VARCHAR},
		#{brandNo,jdbcType = VARCHAR},
		#{catalogId,jdbcType = VARCHAR},
		#{isDisplay,jdbcType = INTEGER},
		#{isHot,jdbcType = INTEGER},
		#{remark,jdbcType = VARCHAR},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operateId,jdbcType = INTEGER},
		#{defaultPic,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="CarBrand">
	update CAR_BRAND 
	<set>
		<if test="brandName!=null and brandName!=''">
			brand_name=#{brandName,jdbcType = VARCHAR},

		</if>
		<if test="brandEnName!=null and brandEnName!=''">
			brand_en_name=#{brandEnName,jdbcType = VARCHAR},

		</if>
		<if test="initial!=null and initial!=''">
			initial=#{initial,jdbcType = VARCHAR},

		</if>
		<if test="brandNo!=null and brandNo!=''">
			brand_no=#{brandNo,jdbcType = VARCHAR},

		</if>
		<if test="catalogId!=null and catalogId!=''">
			catalog_id=#{catalogId,jdbcType = VARCHAR},

		</if>
		<if test="isDisplay!=null ">
			is_display=#{isDisplay,jdbcType = INTEGER},

		</if>
		<if test="isHot!=null ">
			is_hot=#{isHot,jdbcType = INTEGER},

		</if>
		<if test="remark!=null and remark!=''">
			remark=#{remark,jdbcType = VARCHAR},

		</if>
		<if test="createTime!=null ">
			create_time=#{createTime,jdbcType = TIMESTAMP},

		</if>
		<if test="updateTime!=null ">
			update_time=#{updateTime,jdbcType = TIMESTAMP},

		</if>
		<if test="operateId!=null ">
			operate_id=#{operateId,jdbcType = INTEGER},

		</if>
		<if test="defaultPic!=null and defaultPic!=''">
			default_pic=#{defaultPic,jdbcType = VARCHAR},

		</if>
	</set>
	<where>
		AND id=#{id}
	</where>
</update>

<delete id="delete">
	delete from CAR_BRAND 
	<where>
		id=#{0}
	</where>
</delete>

<select id="get" resultMap="CarBrand">
	select <include refid="AllColumnlist"/> from CAR_BRAND
	<where>
		id=#{0}
	</where>
</select>

<select id="getByIds" resultMap="CarBrand">
	select <include refid="AllColumnlist"/> from CAR_BRAND
	<where>
		id in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(id) from CAR_BRAND 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="CarBrand">
	select <include refid="CommonColumnlist"/> from CAR_BRAND 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="CarBrand">
	select <include refid="CommonColumnlist"/> from CAR_BRAND
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
	<if test="q!=null">
		<if test="q.id!=null ">
			AND id=#{q.id}
		</if>
		<if test="q.brandName!=null and q.brandName!=''">
			AND brand_name=#{q.brandName}
		</if>
		<if test="q.brandEnName!=null and q.brandEnName!=''">
			AND brand_en_name=#{q.brandEnName}
		</if>
		<if test="q.initial!=null and q.initial!=''">
			AND initial=#{q.initial}
		</if>
		<if test="q.brandNo!=null and q.brandNo!=''">
			AND brand_no=#{q.brandNo}
		</if>
		<if test="q.catalogId!=null and q.catalogId!=''">
			AND catalog_id=#{q.catalogId}
		</if>
		<if test="q.isDisplay!=null ">
			AND is_display=#{q.isDisplay}
		</if>
		<if test="q.isHot!=null ">
			AND is_hot=#{q.isHot}
		</if>
		<if test="q.remark!=null and q.remark!=''">
			AND remark=#{q.remark}
		</if>
		<if test="q.createTime!=null ">
			AND create_time=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND create_time>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND create_time<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND update_time=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND update_time>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND update_time<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operateId!=null ">
			AND operate_id=#{q.operateId}
		</if>
		<if test="q.defaultPic!=null and q.defaultPic!=''">
			AND default_pic=#{q.defaultPic}
		</if>
	</if>
</sql>

</mapper>