<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxin.cb.mall.dao.CarOrderDao">

<resultMap type="CarOrder" id="CarOrder">
	<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
			<result column="order_code" property="orderCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="customer_id" property="customerId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="customer_phone" property="customerPhone" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="buy_type" property="buyType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="car_name" property="carName" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="total_num" property="totalNum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="total_price" property="totalPrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="earnest" property="earnest" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="payment_type" property="paymentType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="payment_time" property="paymentTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="confirm_time" property="confirmTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="discount_total" property="discountTotal" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="tail_money" property="tailMoney" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="tail_payment_type" property="tailPaymentType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="tail_payment_time" property="tailPaymentTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="order_state" property="orderState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="payment_state" property="paymentState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="car_model_id" property="carModelId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="naked_car_price" property="nakedCarPrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="car_agency_lift_id" property="carAgencyLiftId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="car_num" property="carNum" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="used_car_actual_price" property="usedCarActualPrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
			<result column="car_used_id" property="carUsedId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="car_agency_assess_id" property="carAgencyAssessId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="buyer_message" property="buyerMessage" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="payment_sequence" property="paymentSequence" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="finish_time" property="finishTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
id,order_code,customer_id,customer_phone,buy_type,car_name,total_num,
total_price,earnest,payment_type,payment_time,confirm_time,discount_total,
tail_money,tail_payment_type,tail_payment_time,order_state,payment_state,car_model_id,
naked_car_price,car_agency_lift_id,car_num,used_car_actual_price,car_used_id,car_agency_assess_id,
buyer_message,payment_sequence,finish_time,remark,is_delete,create_time,
update_time
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
id,order_code,customer_id,customer_phone,buy_type,car_name,total_num,
total_price,earnest,payment_type,payment_time,confirm_time,discount_total,
tail_money,tail_payment_type,tail_payment_time,order_state,payment_state,car_model_id,
naked_car_price,car_agency_lift_id,car_num,used_car_actual_price,car_used_id,car_agency_assess_id,
buyer_message,payment_sequence,finish_time,remark,is_delete,create_time,
update_time
</sql>

<insert id="add" parameterType="CarOrder" useGeneratedKeys="true" keyProperty="id">
	insert into CAR_ORDER(
		<if test="id!=null">
		id,
		</if>
		order_code,
		customer_id,
		customer_phone,
		buy_type,
		car_name,
		total_num,
		total_price,
		earnest,
		payment_type,
		payment_time,
		confirm_time,
		discount_total,
		tail_money,
		tail_payment_type,
		tail_payment_time,
		order_state,
		payment_state,
		car_model_id,
		naked_car_price,
		car_agency_lift_id,
		car_num,
		used_car_actual_price,
		car_used_id,
		car_agency_assess_id,
		buyer_message,
		payment_sequence,
		finish_time,
		remark,
		is_delete,
		create_time,
		update_time
	) values (
		<if test="id!=null">
		#{id,jdbcType = BIGINT},
		</if>
		#{orderCode,jdbcType = VARCHAR},
		#{customerId,jdbcType = INTEGER},
		#{customerPhone,jdbcType = VARCHAR},
		#{buyType,jdbcType = INTEGER},
		#{carName,jdbcType = VARCHAR},
		#{totalNum,jdbcType = INTEGER},
		#{totalPrice,jdbcType = DECIMAL},
		#{earnest,jdbcType = DECIMAL},
		#{paymentType,jdbcType = INTEGER},
		#{paymentTime,jdbcType = TIMESTAMP},
		#{confirmTime,jdbcType = TIMESTAMP},
		#{discountTotal,jdbcType = DECIMAL},
		#{tailMoney,jdbcType = DECIMAL},
		#{tailPaymentType,jdbcType = INTEGER},
		#{tailPaymentTime,jdbcType = TIMESTAMP},
		#{orderState,jdbcType = INTEGER},
		#{paymentState,jdbcType = INTEGER},
		#{carModelId,jdbcType = INTEGER},
		#{nakedCarPrice,jdbcType = DECIMAL},
		#{carAgencyLiftId,jdbcType = INTEGER},
		#{carNum,jdbcType = VARCHAR},
		#{usedCarActualPrice,jdbcType = DECIMAL},
		#{carUsedId,jdbcType = INTEGER},
		#{carAgencyAssessId,jdbcType = INTEGER},
		#{buyerMessage,jdbcType = VARCHAR},
		#{paymentSequence,jdbcType = VARCHAR},
		#{finishTime,jdbcType = TIMESTAMP},
		#{remark,jdbcType = VARCHAR},
		#{isDelete,jdbcType = INTEGER},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP}
	)
</insert>

<update id="update" parameterType="CarOrder">
	update CAR_ORDER 
	<set>
		<if test="orderCode!=null and orderCode!=''">
			order_code=#{orderCode,jdbcType = VARCHAR},

		</if>
		<if test="customerId!=null ">
			customer_id=#{customerId,jdbcType = INTEGER},

		</if>
		<if test="customerPhone!=null and customerPhone!=''">
			customer_phone=#{customerPhone,jdbcType = VARCHAR},

		</if>
		<if test="buyType!=null ">
			buy_type=#{buyType,jdbcType = INTEGER},

		</if>
		<if test="carName!=null and carName!=''">
			car_name=#{carName,jdbcType = VARCHAR},

		</if>
		<if test="totalNum!=null ">
			total_num=#{totalNum,jdbcType = INTEGER},

		</if>
		<if test="totalPrice!=null ">
			total_price=#{totalPrice,jdbcType = DECIMAL},

		</if>
		<if test="earnest!=null ">
			earnest=#{earnest,jdbcType = DECIMAL},

		</if>
		<if test="paymentType!=null ">
			payment_type=#{paymentType,jdbcType = INTEGER},

		</if>
		<if test="paymentTime!=null ">
			payment_time=#{paymentTime,jdbcType = TIMESTAMP},

		</if>
		<if test="confirmTime!=null ">
			confirm_time=#{confirmTime,jdbcType = TIMESTAMP},

		</if>
		<if test="discountTotal!=null ">
			discount_total=#{discountTotal,jdbcType = DECIMAL},

		</if>
		<if test="tailMoney!=null ">
			tail_money=#{tailMoney,jdbcType = DECIMAL},

		</if>
		<if test="tailPaymentType!=null ">
			tail_payment_type=#{tailPaymentType,jdbcType = INTEGER},

		</if>
		<if test="tailPaymentTime!=null ">
			tail_payment_time=#{tailPaymentTime,jdbcType = TIMESTAMP},

		</if>
		<if test="orderState!=null ">
			order_state=#{orderState,jdbcType = INTEGER},

		</if>
		<if test="paymentState!=null ">
			payment_state=#{paymentState,jdbcType = INTEGER},

		</if>
		<if test="carModelId!=null ">
			car_model_id=#{carModelId,jdbcType = INTEGER},

		</if>
		<if test="nakedCarPrice!=null ">
			naked_car_price=#{nakedCarPrice,jdbcType = DECIMAL},

		</if>
		<if test="carAgencyLiftId!=null ">
			car_agency_lift_id=#{carAgencyLiftId,jdbcType = INTEGER},

		</if>
		<if test="carNum!=null and carNum!=''">
			car_num=#{carNum,jdbcType = VARCHAR},

		</if>
		<if test="usedCarActualPrice!=null ">
			used_car_actual_price=#{usedCarActualPrice,jdbcType = DECIMAL},

		</if>
		<if test="carUsedId!=null ">
			car_used_id=#{carUsedId,jdbcType = INTEGER},

		</if>
		<if test="carAgencyAssessId!=null ">
			car_agency_assess_id=#{carAgencyAssessId,jdbcType = INTEGER},

		</if>
		<if test="buyerMessage!=null and buyerMessage!=''">
			buyer_message=#{buyerMessage,jdbcType = VARCHAR},

		</if>
		<if test="paymentSequence!=null and paymentSequence!=''">
			payment_sequence=#{paymentSequence,jdbcType = VARCHAR},

		</if>
		<if test="finishTime!=null ">
			finish_time=#{finishTime,jdbcType = TIMESTAMP},

		</if>
		<if test="remark!=null and remark!=''">
			remark=#{remark,jdbcType = VARCHAR},

		</if>
		<if test="isDelete!=null ">
			is_delete=#{isDelete,jdbcType = INTEGER},

		</if>
		<if test="createTime!=null ">
			create_time=#{createTime,jdbcType = TIMESTAMP},

		</if>
		<if test="updateTime!=null ">
			update_time=#{updateTime,jdbcType = TIMESTAMP},

		</if>
	</set>
	<where>
		AND id=#{id}
	</where>
</update>

<delete id="delete">
	delete from CAR_ORDER 
	<where>
		id=#{0}
	</where>
</delete>

<select id="get" resultMap="CarOrder">
	select <include refid="AllColumnlist"/> from CAR_ORDER
	<where>
		id=#{0}
	</where>
</select>

<select id="getByIds" resultMap="CarOrder">
	select <include refid="AllColumnlist"/> from CAR_ORDER
	<where>
		id in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(id) from CAR_ORDER 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="CarOrder">
	select <include refid="CommonColumnlist"/> from CAR_ORDER 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="CarOrder">
	select <include refid="CommonColumnlist"/> from CAR_ORDER
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND is_delete=0
    </if>
	<if test="q!=null">
		<if test="q.id!=null ">
			AND id=#{q.id}
		</if>
		<if test="q.orderCode!=null and q.orderCode!=''">
			AND order_code=#{q.orderCode}
		</if>
		<if test="q.customerId!=null ">
			AND customer_id=#{q.customerId}
		</if>
		<if test="q.customerPhone!=null and q.customerPhone!=''">
			AND customer_phone=#{q.customerPhone}
		</if>
		<if test="q.buyType!=null ">
			AND buy_type=#{q.buyType}
		</if>
		<if test="q.carName!=null and q.carName!=''">
			AND car_name=#{q.carName}
		</if>
		<if test="q.totalNum!=null ">
			AND total_num=#{q.totalNum}
		</if>
		<if test="q.totalPrice!=null ">
			AND total_price=#{q.totalPrice}
		</if>
		<if test="q.earnest!=null ">
			AND earnest=#{q.earnest}
		</if>
		<if test="q.paymentType!=null ">
			AND payment_type=#{q.paymentType}
		</if>
		<if test="q.paymentTime!=null ">
			AND payment_time=#{q.paymentTime}
		</if>
		<if test="q.paymentTimeStart!=null">
		<![CDATA[	AND payment_time>=#{q.paymentTimeStart}  ]]>
		</if>
		<if test="q.paymentTimeEnd!=null">
		<![CDATA[	AND payment_time<#{q.paymentTimeEnd}   ]]>
		</if>
		<if test="q.confirmTime!=null ">
			AND confirm_time=#{q.confirmTime}
		</if>
		<if test="q.confirmTimeStart!=null">
		<![CDATA[	AND confirm_time>=#{q.confirmTimeStart}  ]]>
		</if>
		<if test="q.confirmTimeEnd!=null">
		<![CDATA[	AND confirm_time<#{q.confirmTimeEnd}   ]]>
		</if>
		<if test="q.discountTotal!=null ">
			AND discount_total=#{q.discountTotal}
		</if>
		<if test="q.tailMoney!=null ">
			AND tail_money=#{q.tailMoney}
		</if>
		<if test="q.tailPaymentType!=null ">
			AND tail_payment_type=#{q.tailPaymentType}
		</if>
		<if test="q.tailPaymentTime!=null ">
			AND tail_payment_time=#{q.tailPaymentTime}
		</if>
		<if test="q.tailPaymentTimeStart!=null">
		<![CDATA[	AND tail_payment_time>=#{q.tailPaymentTimeStart}  ]]>
		</if>
		<if test="q.tailPaymentTimeEnd!=null">
		<![CDATA[	AND tail_payment_time<#{q.tailPaymentTimeEnd}   ]]>
		</if>
		<if test="q.orderState!=null ">
			AND order_state=#{q.orderState}
		</if>
		<if test="q.paymentState!=null ">
			AND payment_state=#{q.paymentState}
		</if>
		<if test="q.carModelId!=null ">
			AND car_model_id=#{q.carModelId}
		</if>
		<if test="q.nakedCarPrice!=null ">
			AND naked_car_price=#{q.nakedCarPrice}
		</if>
		<if test="q.carAgencyLiftId!=null ">
			AND car_agency_lift_id=#{q.carAgencyLiftId}
		</if>
		<if test="q.carNum!=null and q.carNum!=''">
			AND car_num=#{q.carNum}
		</if>
		<if test="q.usedCarActualPrice!=null ">
			AND used_car_actual_price=#{q.usedCarActualPrice}
		</if>
		<if test="q.carUsedId!=null ">
			AND car_used_id=#{q.carUsedId}
		</if>
		<if test="q.carAgencyAssessId!=null ">
			AND car_agency_assess_id=#{q.carAgencyAssessId}
		</if>
		<if test="q.buyerMessage!=null and q.buyerMessage!=''">
			AND buyer_message=#{q.buyerMessage}
		</if>
		<if test="q.paymentSequence!=null and q.paymentSequence!=''">
			AND payment_sequence=#{q.paymentSequence}
		</if>
		<if test="q.finishTime!=null ">
			AND finish_time=#{q.finishTime}
		</if>
		<if test="q.finishTimeStart!=null">
		<![CDATA[	AND finish_time>=#{q.finishTimeStart}  ]]>
		</if>
		<if test="q.finishTimeEnd!=null">
		<![CDATA[	AND finish_time<#{q.finishTimeEnd}   ]]>
		</if>
		<if test="q.remark!=null and q.remark!=''">
			AND remark=#{q.remark}
		</if>
		<if test="q.isDelete!=null ">
			AND is_delete=#{q.isDelete}
		</if>
		<if test="q.createTime!=null ">
			AND create_time=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND create_time>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND create_time<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND update_time=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND update_time>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND update_time<#{q.updateTimeEnd}   ]]>
		</if>
	</if>
</sql>

</mapper>