<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxin.cb.mall.dao.CarSystemDao">

<resultMap type="CarSystem" id="CarSystem">
	<id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="brand_id" property="brandId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="sys_name" property="sysName" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="sys_code" property="sysCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="base_data_id" property="baseDataId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="is_hot" property="isHot" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="main_car" property="mainCar" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="examine_state" property="examineState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="publish_state" property="publishState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="introduce" property="introduce" javaType="java.lang.String" jdbcType="CLOB"/>
			<result column="default_pic" property="defaultPic" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="explain_info" property="explainInfo" javaType="java.lang.String" jdbcType="CLOB"/>
			<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
			<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER"/>
			<result column="operate_id" property="operateId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
id,brand_id,sys_name,sys_code,base_data_id,is_hot,main_car,
examine_state,publish_state,introduce,default_pic,explain_info,create_time,
update_time,is_delete,operate_id
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
id,brand_id,sys_name,sys_code,base_data_id,is_hot,main_car,
examine_state,publish_state,default_pic,create_time,
update_time,is_delete,operate_id
</sql>

<insert id="add" parameterType="CarSystem" useGeneratedKeys="true" keyProperty="id">
	insert into CAR_SYSTEM(
		<if test="id!=null">
		id,
		</if>
		brand_id,
		sys_name,
		sys_code,
		base_data_id,
		is_hot,
		main_car,
		examine_state,
		publish_state,
		introduce,
		default_pic,
		explain_info,
		create_time,
		update_time,
		is_delete,
		operate_id
	) values (
		<if test="id!=null">
		#{id,jdbcType = INTEGER},
		</if>
		#{brandId,jdbcType = INTEGER},
		#{sysName,jdbcType = VARCHAR},
		#{sysCode,jdbcType = VARCHAR},
		#{baseDataId,jdbcType = INTEGER},
		#{isHot,jdbcType = INTEGER},
		#{mainCar,jdbcType = INTEGER},
		#{examineState,jdbcType = INTEGER},
		#{publishState,jdbcType = INTEGER},
		#{introduce,jdbcType = CLOB },
		#{defaultPic,jdbcType = VARCHAR},
		#{explainInfo,jdbcType = CLOB },
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{isDelete,jdbcType = INTEGER},
		#{operateId,jdbcType = INTEGER}
	)
</insert>

<update id="update" parameterType="CarSystem">
	update CAR_SYSTEM 
	<set>
		<if test="brandId!=null ">
			brand_id=#{brandId,jdbcType = INTEGER},

		</if>
		<if test="sysName!=null and sysName!=''">
			sys_name=#{sysName,jdbcType = VARCHAR},

		</if>
		<if test="sysCode!=null and sysCode!=''">
			sys_code=#{sysCode,jdbcType = VARCHAR},

		</if>
		<if test="baseDataId!=null ">
			base_data_id=#{baseDataId,jdbcType = INTEGER},

		</if>
		<if test="isHot!=null ">
			is_hot=#{isHot,jdbcType = INTEGER},

		</if>
		<if test="mainCar!=null ">
			main_car=#{mainCar,jdbcType = INTEGER},

		</if>
		<if test="examineState!=null ">
			examine_state=#{examineState,jdbcType = INTEGER},

		</if>
		<if test="publishState!=null ">
			publish_state=#{publishState,jdbcType = INTEGER},

		</if>
		<if test="introduce!=null and introduce!=''">
			introduce=#{introduce,jdbcType = CLOB},

		</if>
		<if test="defaultPic!=null and defaultPic!=''">
			default_pic=#{defaultPic,jdbcType = VARCHAR},

		</if>
		<if test="explainInfo!=null and explainInfo!=''">
			explain_info=#{explainInfo,jdbcType = CLOB},

		</if>
		<if test="createTime!=null ">
			create_time=#{createTime,jdbcType = TIMESTAMP},

		</if>
		<if test="updateTime!=null ">
			update_time=#{updateTime,jdbcType = TIMESTAMP},

		</if>
		<if test="isDelete!=null ">
			is_delete=#{isDelete,jdbcType = INTEGER},

		</if>
		<if test="operateId!=null ">
			operate_id=#{operateId,jdbcType = INTEGER},

		</if>
	</set>
	<where>
		AND id=#{id}
	</where>
</update>

<delete id="delete">
	delete from CAR_SYSTEM 
	<where>
		id=#{0}
	</where>
</delete>

<select id="get" resultMap="CarSystem">
	select <include refid="AllColumnlist"/> from CAR_SYSTEM
	<where>
		id=#{0}
	</where>
</select>

<select id="getByIds" resultMap="CarSystem">
	select <include refid="AllColumnlist"/> from CAR_SYSTEM
	<where>
		id in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(id) from CAR_SYSTEM 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="CarSystem">
	select <include refid="CommonColumnlist"/> from CAR_SYSTEM 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="CarSystem">
	select <include refid="CommonColumnlist"/> from CAR_SYSTEM
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND is_delete=0
    </if>
	<if test="q!=null">
		<if test="q.id!=null ">
			AND id=#{q.id}
		</if>
		<if test="q.brandId!=null ">
			AND brand_id=#{q.brandId}
		</if>
		<if test="q.sysName!=null and q.sysName!=''">
			AND sys_name=#{q.sysName}
		</if>
		<if test="q.sysCode!=null and q.sysCode!=''">
			AND sys_code=#{q.sysCode}
		</if>
		<if test="q.baseDataId!=null ">
			AND base_data_id=#{q.baseDataId}
		</if>
		<if test="q.isHot!=null ">
			AND is_hot=#{q.isHot}
		</if>
		<if test="q.mainCar!=null ">
			AND main_car=#{q.mainCar}
		</if>
		<if test="q.examineState!=null ">
			AND examine_state=#{q.examineState}
		</if>
		<if test="q.publishState!=null ">
			AND publish_state=#{q.publishState}
		</if>
		<if test="q.introduce!=null and q.introduce!=''">
			AND introduce=#{q.introduce}
		</if>
		<if test="q.defaultPic!=null and q.defaultPic!=''">
			AND default_pic=#{q.defaultPic}
		</if>
		<if test="q.explainInfo!=null and q.explainInfo!=''">
			AND explain_info=#{q.explainInfo}
		</if>
		<if test="q.createTime!=null ">
			AND create_time=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND create_time>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND create_time<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND update_time=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND update_time>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND update_time<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.isDelete!=null ">
			AND is_delete=#{q.isDelete}
		</if>
		<if test="q.operateId!=null ">
			AND operate_id=#{q.operateId}
		</if>
	</if>
</sql>

</mapper>