<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunxin.cb.mall.dao.CarUsedCarDao">

<resultMap type="CarUsedCar" id="CarUsedCar">
	<id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="re_brand_id" property="reBrandId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="re_sys_id" property="reSysId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="re_model_id" property="reModelId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="apply_id" property="applyId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="apply_mobile" property="applyMobile" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="user_type" property="userType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="uname" property="uname" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="on_cards_time" property="onCardsTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="kilometre" property="kilometre" javaType="java.lang.Double" jdbcType="DOUBLE"/>
	<result column="overhaul" property="overhaul" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="assessment_name" property="assessmentName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="mobile" property="mobile" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="contact" property="contact" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="transfer" property="transfer" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="is_delete" property="isDelete" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="operate_id" property="operateId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
id,re_brand_id,re_sys_id,re_model_id,apply_id,apply_mobile,user_type,
uname,on_cards_time,kilometre,overhaul,assessment_name,mobile,
contact,transfer,create_time,update_time,is_delete,operate_id

</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
id,re_brand_id,re_sys_id,re_model_id,apply_id,apply_mobile,user_type,
uname,on_cards_time,kilometre,overhaul,assessment_name,mobile,
contact,transfer,create_time,update_time,is_delete,operate_id

</sql>

<insert id="add" parameterType="CarUsedCar" useGeneratedKeys="true" keyProperty="id">
	insert into CAR_USED_CAR(
		<if test="id!=null">
		id,
		</if>
		re_brand_id,
		re_sys_id,
		re_model_id,
		apply_id,
		apply_mobile,
		user_type,
		uname,
		on_cards_time,
		kilometre,
		overhaul,
		assessment_name,
		mobile,
		contact,
		transfer,
		create_time,
		update_time,
		is_delete,
		operate_id
	) values (
		<if test="id!=null">
		#{id,jdbcType = INTEGER},
		</if>
		#{reBrandId,jdbcType = INTEGER},
		#{reSysId,jdbcType = INTEGER},
		#{reModelId,jdbcType = INTEGER},
		#{applyId,jdbcType = INTEGER},
		#{applyMobile,jdbcType = INTEGER},
		#{userType,jdbcType = INTEGER},
		#{uname,jdbcType = VARCHAR},
		#{onCardsTime,jdbcType = TIMESTAMP},
		#{kilometre,jdbcType = DOUBLE},
		#{overhaul,jdbcType = INTEGER},
		#{assessmentName,jdbcType = VARCHAR},
		#{mobile,jdbcType = VARCHAR},
		#{contact,jdbcType = INTEGER},
		#{transfer,jdbcType = INTEGER},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{isDelete,jdbcType = INTEGER},
		#{operateId,jdbcType = INTEGER}
	)
</insert>

<update id="update" parameterType="CarUsedCar">
	update CAR_USED_CAR 
	<set>
		<if test="reBrandId!=null ">
			re_brand_id=#{reBrandId,jdbcType = INTEGER},
		</if>
		<if test="reSysId!=null ">
			re_sys_id=#{reSysId,jdbcType = INTEGER},
		</if>
		<if test="reModelId!=null ">
			re_model_id=#{reModelId,jdbcType = INTEGER},
		</if>
		<if test="applyId!=null ">
			apply_id=#{applyId,jdbcType = INTEGER},
		</if>
		<if test="applyMobile!=null ">
			apply_mobile=#{applyMobile,jdbcType = INTEGER},
		</if>
		<if test="userType!=null ">
			user_type=#{userType,jdbcType = INTEGER},
		</if>
		<if test="uname!=null and uname!=''">
			uname=#{uname,jdbcType = VARCHAR},
		</if>
		<if test="onCardsTime!=null ">
			on_cards_time=#{onCardsTime,jdbcType = TIMESTAMP},
		</if>
		<if test="kilometre!=null ">
			kilometre=#{kilometre,jdbcType = DOUBLE},
		</if>
		<if test="overhaul!=null ">
			overhaul=#{overhaul,jdbcType = INTEGER},
		</if>
		<if test="assessmentName!=null and assessmentName!=''">
			assessment_name=#{assessmentName,jdbcType = VARCHAR},
		</if>
		<if test="mobile!=null and mobile!=''">
			mobile=#{mobile,jdbcType = VARCHAR},
		</if>
		<if test="contact!=null ">
			contact=#{contact,jdbcType = INTEGER},
		</if>
		<if test="transfer!=null ">
			transfer=#{transfer,jdbcType = INTEGER},
		</if>
		<if test="createTime!=null ">
			create_time=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			update_time=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="isDelete!=null ">
			is_delete=#{isDelete,jdbcType = INTEGER},
		</if>
		<if test="operateId!=null ">
			operate_id=#{operateId,jdbcType = INTEGER},
		</if>
	</set>
	<where>
		AND id=#{id}
	</where>
</update>

<delete id="delete">
	delete from CAR_USED_CAR 
	<where>
		id=#{0}
	</where>
</delete>

<select id="get" resultMap="CarUsedCar">
	select <include refid="AllColumnlist"/> from CAR_USED_CAR
	<where>
		id=#{0}
	</where>
</select>

<select id="getByIds" resultMap="CarUsedCar">
	select <include refid="AllColumnlist"/> from CAR_USED_CAR
	<where>
		id in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(id) from CAR_USED_CAR 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="CarUsedCar">
	select <include refid="CommonColumnlist"/> from CAR_USED_CAR 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="CarUsedCar">
	select <include refid="CommonColumnlist"/> from CAR_USED_CAR
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND is_delete=0
    </if>
	<if test="q!=null">
		<if test="q.id!=null ">
			AND id=#{q.id}
		</if>
		<if test="q.reBrandId!=null ">
			AND re_brand_id=#{q.reBrandId}
		</if>
		<if test="q.reSysId!=null ">
			AND re_sys_id=#{q.reSysId}
		</if>
		<if test="q.reModelId!=null ">
			AND re_model_id=#{q.reModelId}
		</if>
		<if test="q.applyId!=null ">
			AND apply_id=#{q.applyId}
		</if>
		<if test="q.applyMobile!=null ">
			AND apply_mobile=#{q.applyMobile}
		</if>
		<if test="q.userType!=null ">
			AND user_type=#{q.userType}
		</if>
		<if test="q.uname!=null and q.uname!=''">
			AND uname=#{q.uname}
		</if>
		<if test="q.onCardsTime!=null ">
			AND on_cards_time=#{q.onCardsTime}
		</if>
		<if test="q.onCardsTimeStart!=null">
		<![CDATA[	AND on_cards_time>=#{q.onCardsTimeStart}  ]]>
		</if>
		<if test="q.onCardsTimeEnd!=null">
		<![CDATA[	AND on_cards_time<#{q.onCardsTimeEnd}   ]]>
		</if>
		<if test="q.kilometre!=null ">
			AND kilometre=#{q.kilometre}
		</if>
		<if test="q.overhaul!=null ">
			AND overhaul=#{q.overhaul}
		</if>
		<if test="q.assessmentName!=null and q.assessmentName!=''">
			AND assessment_name=#{q.assessmentName}
		</if>
		<if test="q.mobile!=null and q.mobile!=''">
			AND mobile=#{q.mobile}
		</if>
		<if test="q.contact!=null ">
			AND contact=#{q.contact}
		</if>
		<if test="q.transfer!=null ">
			AND transfer=#{q.transfer}
		</if>
		<if test="q.createTime!=null ">
			AND create_time=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND create_time>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND create_time<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND update_time=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND update_time>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND update_time<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.isDelete!=null ">
			AND is_delete=#{q.isDelete}
		</if>
		<if test="q.operateId!=null ">
			AND operate_id=#{q.operateId}
		</if>
	</if>
</sql>

</mapper>