<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-d{HH:mm:ss}] [%r] [%p] [%c] - %m%n"/>
        </Console>

        <RollingFile name="FILE"
                     fileName="${sys:catalina.base}/logs/admin.log"
                     filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/admin-%d{yyyy-MM-dd}-%i.log.zip"
                     immediateFlush="true">
            <PatternLayout>
                <Charset>UTF-8</Charset>
                <Pattern>[%-d{HH:mm:ss}] [%r] [%p] [%c] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="32 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="info"/>
        <Logger name="com.yunxin" level="debug"/>

        <Root level="info">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
