.th-tab {
    width: 1020px;
}

.header {
    text-align: center;
    width: 1000px;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.header-contract {
    height: 200px;
    text-align: left;
}

.header .contract {
    display: inline-block;
    float: right;
}

.header .contract .contract-num {
    border: 1px #000000 solid;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
}

.header .contract .contract-num p {
    font-size: 20px;
    font-family: SimSun;
    font-weight: bold;
    padding: 8px 8px 8px 6px;
    display: inline-block;
}

.header .contract .contract-num div {
    border-left: 1px #000000 solid;
    width: 28px;
    display: inline-block;
    height: 36px;
    margin-bottom: -4px;
}

.div-tab {
    width: 1000px;
    border-radius: 5px;
    border: #000000 solid 1px;
    /*overflow: hidden;*/
}

.div-title {
    font-size: 14px;
    color: red;
    width: 1000px;
    margin: 5px;
}

.div-line {
    text-align: left;
    margin: -1px;
    border-bottom: #000000 solid 1px;
    font-size: 0;
    /*height: 35px;*/
}

.div-line .div-line-con {
    border-left: #000000 solid 1px;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    box-sizing: border-box;
    /*margin-bottom: -1px;*/
    /*margin-top: -1px;*/
}

.div-line .div-line-con div {
    display: inline-block;
}

.div-line-cert {
    border-left: #000000 solid 1px;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    width: 26px;
    height: 30px;
    box-sizing: border-box;
}

.div-line .div-line-con .i-cb {
    position: relative;
    top: 2px;
    margin-left: 8px;
}

input {
    margin: 0;
    padding: 0;
}

.a-input {
    padding-left: 10px;
    width: 100px;
}

.c-input {
    text-align: center;
    width: 25px;
}

.b-input {
    text-align: center;
    width: 30px;
}

.d-input {
    padding-left: 10px;
    text-align: left;
    width: 380px;
}

.mobile-input {
    text-align: center;
    width: 80px;
}

.i-cert {
    display: inline-block;
    width: 10px;
}

.i-cert-code {
    display: inline-block;
    width: 20px;
    font-size: 14px;
    margin-left: -1px;
    text-align: center;
    border-radius: 0;
}

.div-sex {
    width: 188px;
}

.div-row-2 {
    width: 235px;
}

.div-row-3 {
    width: 288px;
}

.div-row-4 {
    width: 342px;
}

.div-row-5 {
    width: 423px;
}

.div-row-6 {
    width: 536px;
}

.div-part-job {
    width: 449px;
}

.div-email {
    width: 289px;
}

.div-career {
    width: 261px;
}

table tr th, table tr td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.t-line div {
    display: inline-block;
}

.t-line-cert {
    border-left: #000000 solid 1px;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    width: 27.5px;
    height: 27px;
    box-sizing: border-box;
}

.div-checkbox input {
    display: inline-block;
}

.div-line .title {
    display: inline-block;
}

input {
    border: unset !important;
    outline: unset;
}

.div-postcode {
    border-left: unset !important;
    float: right;
    margin-right: 13px;
    height: 20px;
}

.al-font {
    font-size: 14px;
}

.al-tab {
    width: 1000px;
}

.al-line {
    height: 33px;
    font-size: 0;
}

.al-tab .al-line div {
    display: inline-block !important;
}

.al-row-2 {
    margin-top: 6px;
    margin-left: 80px;
}

.al-row-sex {
    margin-left: 80px;
    margin-right: 55px;
}

.al-row-date {
    margin-left: 120px;
}

.al-row-age {
    margin-left: 70px;
}

.al-row-cardType {
    margin-left: 108px;
    margin-top: 4px;
}

.card-num {
    letter-spacing: 17.8px;
    margin-left: 120px;
    width: 200px;
}

