body {
  background-color: #f5f5f5;;
  margin: 0;
  width: 100%;
}

.i-banner {
  width: 100%;
}

.i-banner img {
  padding: 12px;
  /*width: 700pt;*/
  width: 93.5%;
}

.i-list {
  /*height: 246pt;*/
  width: 100%;
  margin: 14px 0;
  background-color: #ffffff;
  border-bottom: #dedede solid 1px;
  border-top: #dedede solid 1px;
}

.i-list img {
  padding: 14px 9px 14px 12px;
  /*width: 132px*/
  width: 36vw
}

.i-list-detail {
  text-align: left;
  width: 56vw;
  /*width: 420pt;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*top: -3vh;*/
  float: right;
  margin-top: 14px;
}

.i-list-detail .dt-title {
  font-size: 14px;
  color: #333333;
  width: 56vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.i-list-detail .dt-intro {
  font-size: 13px;
  color: #999999;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.i-list-detail .dt-content {
  font-size: 13px;
  color: #e1bb3a;
  margin: 4px 0;
}

.i-list-detail .dt-price {
  /*height: 88pt;*/
  border-top: #d9d9d9 solid 1px;
  color: red;
  font-size: 15px;
}

.i-list-detail .dt-price .dt-price-pro {
  display: inline-block;
  margin-top: 5px;
  /*width: 280px;*/
}

.i-list-detail .dt-price button {
  height: 24px;
  background-color: #e1bb3a;
  float: right;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  border: unset;
  position: relative;
  top: 5px;
  margin-right: 12px;
}

button a {
  color: unset;
  text-decoration: unset;
}

.i-footer {
  position: fixed;
  bottom: 0;
  height: 68px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.i-footer button{
  width: 94%;
  height: 48px;
  margin-top: 10px;
  background-color: #f5ca1d;
  font-size: 18px;
  color: #ffffff;
  border: unset;
  border-radius: 5px;
}

.i-card {
  background-color: #ffffff;
  padding: 14px 12px;
  margin-bottom: 7px;
}

.i-card .i-card-tip {
  font-size: 13px;
  color: #888;
}

.i-card-tip .i-list-right {
  float: right;
}

.i-card-tip .i-list-right span {
  position: relative;
  top: -5px;
}

.i-input {
  padding-top: 2px;
}

.i-input .i-input-form {
  border-bottom: #999999 solid 1px;
}

.i-input .i-input-form input {
  border: unset;
  font-size: 13px;
  width: 70%;
  height: 48px;
}

.i-input .i-input-item {
  font-size: 13px;
  display: inline-block;
  margin: 10px 0;
  width: 25%;
}

.i-input .i-input-val {
  font-size: 13px;
  color: #f5ca1d;
  display: inline-block;
}

.i-input .i-input-radio {
  display: inline-block;
  position: relative;
  /*top: 10px;*/
}

.i-input .i-input-radio .radio-div {
  display: inline-block;
  margin-right: 12px;
}

.i-input .i-input-radio .radio-div img {
  height: 35px;
}

.i-input .i-input-radio span {
  position: absolute;
  font-size: 13px;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-top: 7px;
}

.i-input .i-input-select {
  display: inline-block;
  border: #999999 solid 1px;
  border-radius: 8px;
  width: 70%;
}

.i-input .i-input-select div {
  font-size: 14px;
  color: #999999;
  padding: 6px 6px 6px 10px;
  display: inline-block;
}

.i-input .i-input-select img {
  float: right;
  margin: 12px 12px;
  width: 14px;
}

.i-message {
  margin-top: 12px;
}

.i-message div {
  display: inline-block;
  width: 90%;
  font-size: 12px;
  color: #757575;
  margin-left: 23px;
}

.r-frame {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.r-tip {
  font-size: 13px;
  color: #c01212;
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  width: 300px;
}

.check-on {
  border: 1px solid #f5ca1d;
  color: #f5ca1d;
  background: #fffbeb;
  width: 10vh;
  border-radius: 25px;
  height: 27px;
  outline: unset;
}

.check-off {
  border: 1px solid #a8a8a8;
  background: none;
  width: 10vh;
  border-radius: 25px;
  height: 27px;
  outline: unset;
}

.weui-cells {
  margin-top: 0 !important;
  font-size: 16px !important;
}

p {
  -webkit-margin-before: unset !important;
  -webkit-margin-after: unset !important;
}

.vux-popup-dialog {
  max-height: 50% !important;
}

.vux-cell-value {
  color: #666 !important;
}

.vux-popup-picker-placeholder {
  color: #bfbfbf !important;
}

.vux-cell-placeholder {
  color: #bfbfbf !important;
}

.weui-cells input::-webkit-input-placeholder {
  color: #bfbfbf !important;
}

.weui-toast.vux-toast-middle {
  width: 15.6em !important;
}

.weui-input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
