body {
  margin: 0 !important;
  background-color: #F5F5F5;
}

.i-footer {
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.i-footer button {
  width: 94%;
  height: 48px;
  margin-top: 10px;
  background-color: #f5ca1d;
  font-size: 18px;
  color: #ffffff;
  border: unset;
  border-radius: 5px;
}

p {
  -webkit-margin-before: unset !important;
  -webkit-margin-after: unset !important;
}

.search-con {
  height: 2rem;
  width: 100%;
  background-color: #F1F3F5;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.search-text {
  color: #999999;
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding: 0.3rem 0 0 2.5rem;
}

.weui-cells {
  font-size: 15px !important;
}

.vux-cell-placeholder {
  color: #DCDCDC !important;
}

.weui-cells input::-webkit-input-placeholder {
  color: #DCDCDC !important;
}

.weui-cells textarea::-webkit-input-placeholder {
  color: #DCDCDC !important;
}

.weui-label {
  width: 80px !important;
}

.vux-label {
  width: 80px !important;
}

.weui-cell__ft {
  color: #333333 !important;
  font-weight: bold !important;
}

.weui-dialog {
  border-radius: 8px !important;
}

.weui-dialog__btn_primary {
  color: #f5ca1d !important;
}

.weui-dialog__bd {
  color: #333333 !important;
}

.vux-popup-header-right {
  color: #f5ca1d !important;
}
