.folder {
    background-image: url("../images/files/folder_12_12.png");
}

.file {
    background-image: url("../images/files/file.png");
}

.col-label{
    padding-top: 4px;
}

.form-horizontal{
    width: 100%;
}

.grid-button{
    padding:0px;
    border-style:solid!important;
    background: none;
    min-width:54px;
}

.ke-dialog-default label{
    float: left;
}

.ke-input-text{
    height: 24px!important;
}
